<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi perfil</title>
</head>
<body>
    <h1>Mi perfil</h1>
    {% if messages %}
        {% for message in messages %}
            <p style="color: blueviolet;">{{ message }}</p>
        {% endfor %}
    {% endif %}
    <nav>
        <a href="/">Inicio</a>
        <a href="/crear/">Crear posteo</a>
        <a href="/perfil/">Mi perfil</a>
        <a href="/admin/">Admin</a>
    </nav>

    <p>Usuario: {{ user.username }}</p>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar cambios</button>
    </form>
</body>
</html>