{% extends 'base.html' %}

{% block title %}Acerca de - Blog{% endblock %}

{% block content %}
    <h1>Acerca de este blog</h1>

    <p>
        Este proyecto es un blog desarrollado con Django como entrega final.
        Permite registrar usuarios, iniciar sesion, crear y eliminar posteos, visualizar publicaciones,
        editar el perfil de usuario y utilizar un formulario de contacto.
    </p>

    <p>
        El objetivo del proyecto es aplicar conceptos basicos de desarrollo web con Python,
        Django, base de datos, autenticacion, templates y formularios.
    </p>
{% endblock %}